[Unit]
Description=VPN Telegram Bot
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/ubuntu/vpn-bot
Environment="PYTHONUNBUFFERED=1"
# Replace with your actual token if not set in environment
Environment="BOT_TOKEN=6890656251:AAFLXvPNRvBmObx0xGIQkNkt4pHp-r-KtdI"
ExecStart=/usr/bin/python3 /home/ubuntu/vpn-bot/bot/main.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
