[Unit]
Description=MMVPN API Server
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/vpn-bot
Environment="PYTHONPATH=/home/ubuntu/vpn-bot"
Environment="DB_PATH=src/db/vpn_bot.db"
Environment="API_PORT=8000"
Environment="GOOGLE_CLIENT_ID=771136278833-3qduhe5e49bm24sti1pupr633ure289h.apps.googleusercontent.com"
ExecStart=/usr/bin/python3 -m src.api.server
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
